body {
    min-width: 320px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #626262;
}

/* адаптивные картинки */
img {
    max-width: 100%;
    height: auto;
}

a { color: #626262; }

a:hover { color: #898377; }

p { line-height: 1.5rem; }

h2, h3 {
    margin: 1rem 0;
    font-size: 30px;
}

header .navbar-brand {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header .nav-item {
    text-transform: uppercase;
    margin-left: 50px;
}

header .nav-item a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #ccc;
    height: 1px;
    transform: scale(0);
     /*transform скрывает подчеркивание  */
    transition: all .3s;
    /* анимация за 0.3 сек */
}

header .nav-item a:hover::after {
    transform: scale(1);
}

.post-category, .link-more {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
    font-weight: 300;
}

.grid-posts {
    margin: 100px 0;
}

.grid-posts .card {
    border: 0;
    margin-bottom: 100px;
}

.grid-posts .card-body {
    padding-left: 0;
    padding-right: 0;
}

.card .post-title {
    font-size: 30px;
    margin-bottom: 1em;
}